{% assign items = site.data[page.menubar] | map: "items" %}

{% assign xs = "" | split: "," %}
{% for item in items %}
  {% assign xs = xs | concat: item %}
{% endfor %}
{% assign items = xs %}

{% assign lastPageIdx = items.size | minus: 1 %}

{% for i in (0..items.size) %}
  {% if items[i] == page.path %}
    {% if i > 0 %}
      {% assign prevIdx = i | minus: 1 %}
      {% assign prevName = site.pages | where: "path", items[prevIdx] | map: "title" %}
      {% assign prevURL = site.pages | where: "path", items[prevIdx] | map: "url" %}
    {% endif %}
    {% if i < lastPageIdx %}
      {% assign nextIdx = i | plus: 1 %}
      {% assign nextName = site.pages | where: "path", items[nextIdx] | map: "title" %}
      {% assign nextURL = site.pages | where: "path", items[nextIdx] | map: "url" %}
    {% endif %}

    {% break %}
  {% endif %}
{% endfor %}

<div class="buttons is-justify-content-space-between mt-5">
  <span>
    {% if prevIdx %}
    <a class="button is-link is-light" href="{{ prevURL }}">
      <span class="icon is-small">
        <i class="fas fa-chevron-circle-left"></i>
      </span>
      <span>{{ prevName }}</span>
    </a>
    {% endif %}
  </span>
  <span>
    {% if nextIdx %}
    <a class="button is-link is-light" href="{{ nextURL }}">
      <span>{{ nextName }}</span>
      <span class="icon is-small">
        <i class="fas fa-chevron-circle-right"></i>
      </span>
    </a>
    {% endif %}
  </span>
</div>
